.header-container {
  background-color: #cbd5e1;

  background-size: cover;
}
.header-heading {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  padding: 40px;
  font-size: 40px;
  text-align: center;
}
@media (max-width: 577px) {
  .header-container {
    background-color: #cbd5e1;
    width: 90vw;
    margin-left: 20px;
    background-size: cover;
  }
  .header-heading {
    color: #64748b;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
    font-size: 40px;
    text-align: center;
  }
}
